*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    color: #fff;
    background-color: blueviolet;
    height: 120px;
    width: 100 %;
    justify-content: center;
    align-items: center;
}

