*,
*::before,
*::after {
    box-sizing: border-box;
    -border: solid;
    padding: 0;
    margin: 0;

}

body {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightsalmon;
    padding: 40px;
}

.header {
    display: flex;
    color: #fff;
    background-color: #000;
    height: 120px;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

button {
    color: darkviolet;
    background-color: #fff;
    border-color: #000;
    border-radius: 1em;
    padding: 12px;  
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid #000;
    padding: 3% 10%;
    scroll-margin-top: 100px;
    border-radius: 1rem;
    gap: 20px;
    background-color: #fff;
    position: relative;
    margin: 20px;
}

.tags {
    display: flex;
    list-style: none;
    display: flex;
    gap: 6px;
    padding-left: 0;
    flex-wrap: wrap;
    }

.tag {
    color: #fff;
    padding: 12px;
    background: #000;
    border-radius: 4px;
}

.bookmark {
    width: 64px;
    height: 64px;
    position: absolute;
    top: -25px;
    right: -0px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    color:darkorchid;
    list-style: none;
    flex-wrap: wrap;
    background: #fff;
    height: 120px;
    width: 100%;
    z-index: 1;
}

